@media all and (max-width: 480px){



.clearfix:after{
	content: "";
	clear: both;
	display: block;
}

nav{
	width: 100%;
	height: 40px;
	position: fixed;
	z-index: 999;
	background-color: white;
}

.menu_button{
	width: 32px;
	height: 32px;
	box-sizing: border-box;
	display: block;
	margin-top: 4px;
	margin-right: 10px;
	float: right;
}
	.menu-content
{
	width: 25%;
	height: 200px ;
	background: #D36015 ;
	position: absolute;
	top: 40px;
	right:0;
	background-color: #d24136;
}

nav li{
	width: 100%;
	border-bottom: 3px white;
	text-align: center;
}


nav li a{
	text-decoration: none;
	color: white;
	font-size: 15px;
	}

nav li a:hover{
	color: gray;
}


.fa{
	padding-right: 0.3em;
}

nav .logo{
	width: 70%;
	height: 100%;
	float: left;
	margin-left: 3px;
	box-sizing: border-box;
}

header img{
	width: 70%;
	height:40px;
}

img.mark{
	width: 25%;
	height: 40px;
}


nav .menu{
	display: none;
}


header{
	width: 100%;
	height: 30px;
	overflow: hidden;
}


	section{
		width: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		overflow: hidden;
		box-sizing: border-box;
	}

 section#box1{
	background-image: url("../img/チェスキー.jpg");
	margin-top: -50px;
	padding-top: 50px;
	z-index: 13;
	height: 450px;
	position: relative;

	}

		#box1 h1{
			font-family: 'Ubuntu', sans-serif;
			font-size: 40px;
			left: 20%;
			color: white;
			display: none;
			position: absolute;
			left: 0;
			top:-70px;
			right: 0;
			bottom: 0;
			margin:auto;
			width: 300px;
			height: 150px;
			}
		#box1 h2{
			width: 200px;
			height: 30px;
			text-align: center;
			font-family: 'Ubuntu', sans-serif;
			color: white;
			font-size: 30px;
			left: 0;
			top: 50px;
			right: 0;
			bottom: 0;
			margin:auto;
			display: none;
			position: absolute;
			}

		.tiger{width: 180px;
				height: 130px;
				left: 0;
				right: 0;
				top: 200px;
				bottom: 0;
				margin:auto;
				display: none;
				position: absolute;}
		#box1 h3{
			text-align: right;
			font-family: 'Ubuntu', sans-serif;
			color: white;
			font-size: 13px;
			position: absolute;
			bottom: 30px;
			}

		#box1 h4{
			font-family: 'Ubuntu', sans-serif;
			color: white;
			font-size: 50px;
			position: absolute;
			left: 300px;
			display: none;
			}

.clear{
	clear: both;
}

#box2{
	background-image: url("../img/DSC_2006.JPG");
	position: relative;
	height: 2150px;
	margin-top: -40px;
	padding-top: 40px;
	z-index: 11;
	box-sizing: border-box;
}

	.kodomo {
		width: 100%;
		height: 100%;
		position: absolute;
		background-color: rgba(255, 255, 255, 0.6);
}

	#box2 .inner{
		height: auto;
		width: 100%;
  		left: 0;
  		right: 0;
		position: absolute;
		font-size: 0;
		padding:0;
	}

	.title {
    	color: white;
    	font-size: 50px;
    	font-weight: bold;
    	text-shadow: 2px 2px 2px #d24136,
    	-4px 4px 2px #d24136,
    	4px -4px 2px #d24136,
    	-4px -4px 2px #d24136;
    	text-align: center;
    	padding-top: 15px;
	}

	.circle{
		width: 50%;
		height: 21%;
		margin-left:25%;
		box-sizing: border-box;
	}

	.main{
		width: 100%;
		height: auto;
		margin: 10px auto;
	}
	#box2 .main article{
		text-align: center;
		width: 80%;
		height: 40%;
		overflow: hidden;
		background-color: #ebb582;
		font-family: "Sawarabi Mincho";
		padding:3px;
		margin: 0 auto;
		box-sizing: border-box;
		visibility: visible;


	}

	#box2 article h2{
		font-size: 20px;
		padding: 3px;
		color: #8b4513;
		font-family: "Sawarabi Gothic";

	}
	article p{
		line-height: 20px;
		font-size: 15px;
		color: black;
	}
	u{
		color: #8b4513;
	}

	#box2 .circle:hover{
		opacity: 0.7;
		transform: translateY(-7px) scale(1.1);
	}

	#box2 img:hover + article{
		visibility: visible;
		animation: anime1 1s  alternate;
	}

	@keyframes anime1 {
		0% {transform: scale(0,0); ,opacity: 0.0;}
		100% {transform: scale(1,1);, opacity: 1.0;}
		}

	#box2 .date{
		width: 80%;
		height: auto;
	}
	#box2 .main_img{
		width: 100%;
		margin: 0;
		height: auto;
		box-sizing: border-box;
		display: inline-block;
	}

	#box2 .date article{
		width: 100%;
		height: auto;
		font-family: "Sawarabi Mincho";
		color: black;
		margin: 2px;
		display: inline-block;
	}

	#box2 .date article p{
		line-height: 20px;
		margin-top:2px;
		font-size: 15px;
	}

#box3{
	height: 800px;
	margin-top: -40px;
	padding-top: 40px;
	background-color: #8b4513;
	z-index: 2;

	}

	#box3 .container{
		width: 100%;
		height: auto;
		margin: 0 auto;
		z-index: 15;
			position: relative;
	}

	#box3 .article{
		display: none;}

	#box3 img{
		width: 80%;
		height: 100%;
		margin-left: 12.3%;
		margin-top: 20px;
	}


	.total{
		width: 100%;
  		height: auto;
  		position: relative;
  		margin: 0;
  		box-sizing: border-box;
  		z-index: 16;
	}
	.box{
		position: static;
  		width: 80%;
  		height: 24%;
  		margin: 0 auto;
  		box-sizing: border-box;
  		transition-duration: 4s;
  	}


  	#box3 .img1:hover + .num1{
  		opacity: 1;
  	}


  	#box3 .img2:hover + .num2{
  		opacity: 1;
  	}

	#box3 .img3:hover + .num3{
  		opacity: 1;
  	}

  	#box3 .img4:hover + .num4{
  		opacity: 1;
  	}

  	#box3 .img5:hover + .num5{
  		opacity: 1;
  	}

  	.img1.motion,.img2.motion,.img3.motion,.img4.action,.img5.action{
    transform: translateY(20px);
}



	#box3 img:hover{
		opacity: 0.4;
	}



#border{
	background-image: url("../img/border.jpg");
	height: 140px;
	width: 100%;
	box-sizing: border-box;
	z-index: 0;
}



#box4{
	background-color: 	#ebb582;
	height: 448px;
	margin-top: -40px;
	padding-top: 40px;
	z-index: 9;
	}

.image{
	margin: 0 auto;
	width: 100%;
	height: 100%;
	font-size: 0;
}

.image img{
}

.swiper-container{
	width: 70%;
	height: 70%;
	margin-top: 10%;
}

.swiper-slide {
    width: 100% !important;
	height: 100%;
	margin: 0;
	box-sizing: border-box;
	border: 10px #8b4513 solid;
	overflow: hidden;
	display: inline-block!important ;
	position: relative;}




.image a img{
	width: 100%;
	height: 100%;
	overflow: hidden;
}




.image a img{
	transition:3s linear;
}

.imagebox:hover{
	opacity: 0.5;
}

.image a img:hover {
transform: scale(1.2,1.2) rotate(5deg);
}


footer{
	height: 300px;
	width: 100%;
	background-image: url("../img/footer.jpg");
	box-sizing: border-box;
}

footer ul{
	margin:  auto;
	width: 320px;
	text-align: center;
	padding-top: 230px;
}

footer li{
	font-size: 25px;
	display: inline-block;
	font-family: 'Ubuntu', sans-serif;
	color: #ebb582;
	text-align: center;

}


footer li a{
	text-decoration: none;
	color:#ebb582;
	transition: 0.2s linear 0s;
	}

footer li a i:hover{
	color: #eb8a3e;
}







}
